@model FeasterOfDomains.Users.Web.Models.LoginViewModel

<div class="login-page">
    <div class="page-header">
        <h1>Login</h1>
    </div>

    @Html.Partial("_ValidationSummary")

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Feaster of Domains Authentication</h3>
                </div>
                <div class="panel-body">
                    <form asp-route="Account/Login" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                     <fieldset>
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.ReturnUrl)                       
                        <div class="form-group">
                            @Html.LabelFor(m => m.Username)
                            @Html.EditorFor(m => m.Username, "autofocus")
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password)
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>